/*
Theme Name: Herrington Child
Theme URI: http://demo.bravisthemes.com/herrington
Author: Bravis-Themes
Author URI: https://bravisthemes.com/
Description:Herrington is a beautifully handcrafted, pixel perfect business consulting WordPress Theme based on Elementor Page Builder & designed with great attention to details, flexibility and performance. Herrington has stunning styles and elements to help you make a professional website in no time.
Version: 1.0.6
License: ThemeForest
License URI: https://themeforest.net/licenses
Template: herrington
Text Domain: herrington-child
Tags:accountant, advertising, agency, business, company, consulting, corporate, digital agency, digital marketing, finance, insurance, it company, management, seo, startup
Requires at least: 5.8 or Higher
Requires PHP: 7.4.x or Higher
Tested up to: 6.4.1
*/
